/* color palette from <https://github.com/vuejs/theme> */
@import url('https://www.fontspace.com/maldini-font-f39870');

@font-face {
  font-family: 'Maldini';
  src: url('../../public/fonts/RenegadePursuit-ywMr5.ttf') format('truetype');
} 

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto,sans-serif;
}

a:active {
  color: #ff00bd;
}

#app{
  height: 100%;
  background-color: #000;
  overflow: scroll;
}

#app::-webkit-scrollbar {
  width: 0.1px;
  background-color: none;
}

#app::-webkit-scrollbar-thumb {
  background-color: #ed1d3c41;
  border-radius: 2px;
}


/* STYLES APPLICABLE TO NAVIGAITON PAGES DISPLAY ARTICLES */
#heading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  #heading-wrapper {
    margin: 7.5% auto;
  }
}

#new-articles-heading{
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  margin: 2% 0 0.5% 0;
}

#new-articles-heading-read {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2% 0 0.5% 0;
}

@media screen and (max-width: 1024px) {
  #new-articles-heading{
    font-size: 1.9rem;
  }

  #new-articles-heading-read {
    font-size: 1.55rem;
  }
}

.heading-underline {
  height: 5px;
  width: 15%;
  background-color:  rgb(255, 0, 189);
}


.all-new-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 280px));
  grid-auto-rows: 100%;
  justify-content: center;
  gap: 2%;
  height: 50%;
  max-height: 850px;
  margin: 3% 0;
  overflow: hidden;
}

.all-new-articles .category {
  padding: 0.8%;
  margin-left: 3%;
  text-align: center;
  width: 50%;
  height: 40px;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.span-new-article-title {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .all-new-articles {
    height: 50%;
    grid-template-columns: repeat(auto-fit, minmax(265px, 280px));
  }

  .span-new-article-title {
    font-size: 0.9rem;
  }

  .new-article-title, .date, .category {
    font-size: 0.8rem !important;
  }

}

@media screen and (max-width: 767px) {
  .rtc-paragraph {
    margin: 5% 0 !important;
  }

  .rtc-img-wrapper {
    max-height: 450px !important;
  }

  .rtc-paragraph-inline {
    margin: 1% 0;
    font-size: 0.85rem !important;
  }
}

@media screen and (max-width: 638px) {
  .rtc-paragraph-inline {
    margin: 3.5% 0 !important;
  }

  .rtc-heading-2 {
    margin-top: 12% !important;
  }

  .rtc-img-wrapper {
    margin: 0 !important;
  }

  #new-articles-heading-read {
    font-size: 1.2rem;
  }

  #author {
    font-size: 0.9rem !important;
  }

  .author-description {
    font-size: 0.75rem !important;
  }
}

.new-article{
  height: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0f1010;
  color: #fff;
  border: 1px solid  rgb(255, 0, 189);
  -webkit-box-shadow: 0 0 11px 1.5px  rgb(255, 0, 189);
  -moz-box-shadow: 0 0 11px 1.5px  rgb(255, 0, 189);
  box-shadow: 0 0 11px 1.5px  rgb(255, 0, 189);
  cursor: pointer;
  overflow: hidden;
  transition: .4s;
}

.new-article:hover {
  transform: scale(1.04);
}

.new-article-img{
  display: block;
  height: 60%;
  width: 100%;
  max-height: 255px;
  object-fit: cover;
  margin-bottom: 5%;
}

.latest-article-img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5%;
}

.new-article-title, .date, .category {
  padding-left: 3%;
  line-height: 2.5;
  font-size: 1.05rem;
  font-weight: 600;
}

.category {
  padding-left: 0;
  display: inline;
  width: 31%;
}

.developers, .gaming, .tech {
  padding: 0.8%;
  margin-left: 3%;
  text-align: center;
}


.developers {
  background-color:  #ed1d3b;
  -webkit-box-shadow: 0 0 11px 1.5px  #ed1d3b;
  -moz-box-shadow: 0 0 11px 1.5px  #ed1d3b;
  box-shadow: 0 0 11px 1.5px  #ed1d3b;
}

.gaming {
  background-color: #f10de2;
  -webkit-box-shadow: 0 0 11px 1.5px #f10de2;
  -moz-box-shadow: 0 0 11px 1.5px #f10de2;
  box-shadow: 0 0 11px 1.5px #f10de2;
}

.tech {
  background-color: #5d00f9;
  -webkit-box-shadow: 0 0 11px 1.5px #5d00f9;
  -moz-box-shadow: 0 0 11px 1.5px #5d00f9;
  box-shadow: 0 0 11px 1.5px #5d00f9;
}

/*STYLES FOR THE READ ARTICLES PAGE ARE DEFINED HERE BECAUSE THE RICH TEXT EDITOR OF THE CMS MUST HAVE ITS STYLES GLOBAL TO THE HTML PAGE*/
.article-content {
  max-width: 1000px;
  margin: 0 auto;
}


.rtc-paragraph-inline {
  margin: 1% 0;
  font-size: 1.05rem;
}

.rtc-paragraph-block {
  margin: 1% 0;
}

ol li .rtc-paragraph-block {
  font-weight: bold;
}

ol li, ul li {
  margin: 1.4% 0;
}

ul {
  list-style-type: none;
}

.rtc-paragraph-span {
  font-weight: normal;
}

/*rtc 1 - 5 are classes for .rtc-paragraph elements that will be made inline. the 1,2,3,4,5 is from the index of the class --this is all done by the rtc renderer of the cms*/
.rtc-1, .rtc-3, .rtc-5, .rtc-7 {
  display: inline;
}

.article-content ol li .rtc-paragraph {
  font-weight: bold;
}

.article-content ol .rtc-paragraph {
  font-weight: bold;
}

.rtc-img-wrapper {
  height: 750px;
  max-height: 525px;
  width: 95%;
}

.rtc-img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rtc-heading-2 {
  margin: 2.5% 0;
}

@media screen and (max-width: 425px) {
  .rtc-img-wrapper {
    max-height: 360px;
  }

  .rtc-paragraph-inline {
    margin: 1% 0;
    font-size: 0.9rem !important;
  }
}

.sub-list-item {
  list-style-type: none;
  margin-left: 1.5%;
}

@media screen and (max-width: 335px) {
  .rtc-paragraph-inline {
    margin: 1% 0;
    font-size: 0.75rem !important;
  }

  #buymecoffee {
    font-size: 0.5rem !important;
  }
}


@media screen and (max-width: 375px) {
  .author-content {
    font-size: 0.7rem;
    width: 100%;
  }
  #buymecoffee {
    font-size: 0.435rem !important;
  }
}

@media screen and (min-width:426px) and (max-width: 435px) {
  .rtc-paragraph-inline {
    margin: 1% 0;
    font-size: 0.9rem !important;
  }
}

@media screen and (min-width:540px) and (min-width: 768px) and (max-width: 920px) {
  .rtc-paragraph-inline {
    margin: 1% 0;
    font-size: 1.2rem;
  }
}